@model List<PcAnketProject.CerenUI.Models.ResimDto>
@{
    ViewData["Title"] = "Yukle";
}

<h2>Resim Yükle</h2>

<form asp-action="Yukle" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Yükle</button>
</form>


